* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --line-height-body: 1;
  --color-text-gray: #777;
  --color-green: #1cbd4b;
  --color-red: #c71f16;
  --ff-body: "Poppins", sans-serif;
}

:root.light-mode {
  --color-primary: #0837fb;
  --color-text: #333;
  --color-bg-900: #fff;
  /* --color-bg-700: #f0f3f7; */
  --color-bg-700: #f7f7f8;
  --color-bg-500: #545454;
}

:root.dark-mode {
  --color-primary: #0837fb;
  --color-text: #eee;
  --color-bg-900: #07080b;
  --color-bg-700: #242424;
  --color-bg-500: #545454;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-body);
  line-height: var(--line-height-body);
  color: var(--color-text);
  /* background-color: var(--color-bg-900); */
  /* background-color: var(--color-primary); */
}
